.file-chooser-btn {
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-padding: 0;


  /* -fx-pref-width: 5.7em;
    -fx-pref-height: 5.7em;

    -fx-min-width: 5.7em;
    -fx-min-height: 5.7em;

    -fx-max-width: 5.7em;
    -fx-max-height: 5.7em;*/

    -fx-background-image: url("/Assets/Textures/ui_button_addprofile_NORMAL_terran.png");
}

.file-chooser-btn:hover {
    -fx-background-image: url("/Assets/Textures/ui_button_addprofile_OVER_terran.png");
}

.file-chooser-btn:pressed {
    -fx-background-image: url("/Assets/Textures/ui_button_addprofile_PRESSED_terran.png");
}

.file-chooser-btn:disabled {
    -fx-opacity: 0.5;
}